#about-me-container{
    background-color: #CCF2F2;
    display: flex;
    height: 100vh;
    width: 100vw;
    display:flex;
    padding-top:35px;
    z-index: -1;
    justify-content: center;
    align-items: center;
}

.about-me-link{
    color: #fff;
    text-decoration: none;
}

.about-me-title{
    font-size: 40px;
    padding: 20px 0;
}
.about-me-paragraph{
    font-size:20px;
}
.left-side{
    color: #65BBBB;
    float:left;
    width: 850px;
    max-width: 100%;
    margin-left: 20px;
}
.profile-title{
    color: #65BBBB;
}
.stack-title{
  margin-top: 20px;
}

.stack-icons{
  margin-top: 30px;
  font-size: 40px;
}

.icon{
    margin-right: 15px;
}
.right-side{
    float:right;
    margin-left: 100px;
    
}
.profile-img-container{
  
    img{
        width:212px;
        height:206px;
        border: solid 5px #32B032;
    }
}

.profile-icons{
margin-top: 10px;
font-size: 30px;
}

.profile-icon{
    margin-right: 15px;
    color: #000 !important;
}

.profile-title {
margin-bottom: 15px;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .about-me-container{
        display: block; 
        padding: 0px 10px 0 10px;
        max-width: 100%;
    }
    .about-me-title{
        margin-top: 50px;
        font-size: 30px;
    }
    .about-me-paragraph{
        font-size:20px;
        max-width: 85%;
        margin-bottom: 50px;
    }
    .left-side{
      display: block;
      padding-bottom: 50px;
    }
    .stack-icons{
        font-size: 30px;
        width: 70%;
        float: right;
        margin: auto;
        text-align: right;
        padding-right: 10px;
        
    }
    .profile-title ,.stack-title{
        float: left;
        font-size: 20px;
    }
    .profile-title{
        margin-bottom: 20px;
        margin-right: 50px;

    }
    .right-side{
        display: block;
        margin: 0 auto;
        float:none;
    }  

    .profile-icons{
        padding-top: 50px;
        font-size: 35px;
    }

    .profile-img-container{
        float: right;
        padding-right: 20px;
        img{
            width:150px;
            height:150px;
        
        }
    }

    
  }