#portfolio-page{
   background-color: #65BBBB;
   color: #CCF2F2;
   padding-top: 100px;
   z-index: -1;
   width: 100vw;

   .projects-container{
    display:flex;
    margin: 0;
    top: 50%;
    .project{
        margin:20px;
    }

    a{
        text-decoration: underline;
        color:#CCF2F2;
    }
    img{
        width: 90%;
        height: 50%;
        object-fit: cover;
      }
  
}
}

.projects-title{
    font-size: 36px;
    margin-left:20px;
}


@media only screen and (max-width: 480px) {
    .portfolio-page{
        padding-top: 20px;
        padding-bottom: 200px;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .projects-container{
        max-width: 100%;
        flex-wrap: wrap;
        .project{
            width:100%;
            height:auto;
            margin: 0 auto;
            padding-bottom:20px;
            top: 0%; 
        
        }
        img{
            max-width:100%;
            height: auto;
          }
      
    }

    .projects-title{
     margin-bottom: 15px;
    }
    
}