
.home-navigation-bar{
    background-color: #52CA52;
    display: flex;
    height: 35px;
    text-decoration: none;
    float:right;

    .nav-item{
        margin: 7px 15px;
        text-decoration: none;

       .nav-text{
           text-decoration: none;
           color: #FEFEFE;
           padding: 0 10px;
           
       }
     
    }

    
}

.image-container{
    float: left;

    img{
      height:35px;
      width: 135px;
      object-fit: cover;
    }
}

.mobile-navigation-bars{
    display:none;
}



.nav-bar-container{
    display:flex;
}
@media only screen and (max-width: 480px) {
    .home-navigation-bar {
      display: none;
    }
    .image-container{
    
        img{
          height:45px;

        }
    }

    .show-nav-bar{
        display: block;
        height: auto;
        position: relative;
        z-index: 1;
        .nav-item{
            height: 50px;
            font-size: 30px;
            :hover{
                background-color: #65BBBB;
            }
        }
        
    }
    .mobile-navigation-bars{
      background-color: #52CA52;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height:35px;
      font-size: 25px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      font-size:25px;
      color: #FEFEFE;
      z-index: 2;
    }
  }