.footer{
  text-align:center;
  background-color: #77DD77;
  height: 135px;
}

.footer-icon{
    color: #fff;
    font-size: 30px;
    margin: 30px 10px 10px 0px;

}

p{
  font-style:bold;
  color: #fff;
  font-size: 20gipx;
  margin-bottom: 10px;
}